@{
    ViewData["Title"] = "Instagram";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/InstagramClone.styles.css" asp-append-version="true" />

<div class="_body">

</div>
